<!-- Sidebar -->
<ul
  class='navbar-nav bg-custom sidebar sidebar-light accordion fixed-top'
  id='accordionSidebar'
  style='z-index: 1050;'
>
  <!-- Sidebar - Brand -->
  <a
    class='sidebar-brand d-flex align-items-center justify-content-center'
    href='/'
  >
    <img src='/img/logo.png' alt='Logo' class='w-25 h-auto' />
  </a>

  <!-- Divider -->
  <hr class='sidebar-divider my-0' />
  <!-- Nav Item - Pages Collapse Menu -->
  <li class='nav-item'>
    <a
      class='nav-link collapsed'
      href='#'
      data-toggle='collapse'
      data-target='#category'
      aria-expanded='true'
      aria-controls='category'
    >
      <i class='fas fa-fw fa-th-large'></i>
      <span>
        Thể loại
      </span>
    </a>
    <div
      id='category'
      class='collapse'
      aria-labelledby='headingTwo'
      data-parent='#accordionSidebar'
    >
      <div class='bg-white py-2 collapse-inner rounded'>
        <a class='collapse-item' href='/admin/category/add'>
          Thêm mới
        </a>
        <a class='collapse-item' href='/admin/category/list'>
          Danh sách
        </a>
      </div>
    </div>
  </li>

  <!-- Nav Item - Utilities Collapse Menu -->
  <li class='nav-item'>
    <a
      class='nav-link collapsed'
      href='#'
      data-toggle='collapse'
      data-target='#product'
      aria-expanded='true'
      aria-controls='product'
    >
      <i class='fas fa-fw fa-cubes'></i>
      <span>
        Sản phẩm
      </span>
    </a>
    <div
      id='product'
      class='collapse'
      aria-labelledby='headingUtilities'
      data-parent='#accordionSidebar'
    >
      <div class='bg-white py-2 collapse-inner rounded'>
        <a class='collapse-item' href='/admin/product/add'>
          Thêm mới
        </a>
        <a class='collapse-item' href='/admin/product/list'>
          Danh sách
        </a>
      </div>
    </div>
  </li>

  <li class='nav-item'>
    <a
      class='nav-link collapsed'
      href='#'
      data-toggle='collapse'
      data-target='#cart_item'
      aria-expanded='true'
      aria-controls='collapseTwo'
    >
      <i class='fas fa-fw fa-shopping-cart'></i>
      <span>
        Giỏ hàng
      </span>
    </a>
    <div
      id='cart_item'
      class='collapse'
      aria-labelledby='headingTwo'
      data-parent='#accordionSidebar'
    >
      <div class='bg-white py-2 collapse-inner rounded'>
        <a class='collapse-item' href='/admin/cart-item/list'>
          Danh sách
        </a>
      </div>
    </div>
  </li>

  <li class='nav-item'>
    <a
      class='nav-link collapsed'
      href='#'
      data-toggle='collapse'
      data-target='#order'
      aria-expanded='true'
      aria-controls='collapseTwo'
    >
      <i class='fas fa-fw fa-file'></i>
      <span>
        Đơn hàng
      </span>
    </a>
    <div
      id='order'
      class='collapse'
      aria-labelledby='headingTwo'
      data-parent='#accordionSidebar'
    >
      <div class='bg-white py-2 collapse-inner rounded'>
        <a class='collapse-item' href='/admin/order/list'>
          Danh sách
        </a>
      </div>
    </div>
  </li>

  <li class='nav-item'>
    <a
      class='nav-link collapsed'
      href='#'
      data-toggle='collapse'
      data-target='#order_item'
      aria-expanded='true'
      aria-controls='collapseTwo'
    >
      <i class='fas fa-fw fa-list-alt'></i>
      <span>
        Chi tiết đơn hàng
      </span>
    </a>
    <div
      id='order_item'
      class='collapse'
      aria-labelledby='headingTwo'
      data-parent='#accordionSidebar'
    >
      <div class='bg-white py-2 collapse-inner rounded'>
        <a class='collapse-item' href='/admin/order-item/list'>
          Danh sách
        </a>
      </div>
    </div>
  </li>

  <li class='nav-item'>
    <a
      class='nav-link collapsed'
      href='#'
      data-toggle='collapse'
      data-target='#review'
      aria-expanded='true'
      aria-controls='collapseTwo'
    >
      <i class='fas fa-fw fa-star'></i>
      <span>
        Dánh giá
      </span>
    </a>
    <div
      id='review'
      class='collapse'
      aria-labelledby='headingTwo'
      data-parent='#accordionSidebar'
    >
      <div class='bg-white py-2 collapse-inner rounded'>
        <a class='collapse-item' href='/admin/review/list'>
          Danh sách
        </a>
      </div>
    </div>
  </li>
  <li class='nav-item'>
    <a
      class='nav-link collapsed'
      href='#'
      data-toggle='collapse'
      data-target='#news'
      aria-expanded='true'
      aria-controls='collapseTwo'
    >
      <i class='far fa-newspaper'></i>
      <span>
        Tin tức
      </span>
    </a>
    <div
      id='news'
      class='collapse'
      aria-labelledby='headingTwo'
      data-parent='#accordionSidebar'
    >
      <div class='bg-white py-2 collapse-inner rounded'>
        <a class='collapse-item' href='/admin/news/add'>
          Thêm mới
        </a>
        <a class='collapse-item' href='/admin/news/list'>
          Danh sách
        </a>
      </div>
    </div>
  </li>
  <!-- Divider -->
  <hr class='sidebar-divider d-none d-md-block' />
</ul>
<!-- End of Sidebar -->